*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.portfolio {

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding-bottom: 7em;
    
     
}

.project-box {
    width: 90%;
    height: 35vh;
    
    /* background-color: #eee; */
    background-color: white;
    /* background: linear-gradient(-90deg,  white, rgb(138, 109, 109)); */
    margin: 8em 8em 10em 1em;
    /* margin-bottom: -12rem; */
    padding: 0 5rem 0 10rem;
    /* padding: 0 1.5rem; */

}

.player {
    width: 100%;
    max-width: 98rem;
    /* padding: 5em 0 5em 7em; */
    background-color: white;
    /* background: linear-gradient(180deg,  white, rgb(138, 109, 109)); */
    box-shadow: 0 1.4rem 8rem rgba(138, 109, 109);
    display: flex;
    align-items: center;
    /* border-radius: .8rem; */
   
}

.left-side-info {
    /* margin-left: -60%; */
    /* overflow-wrap: normal; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem 0 2rem 8em;
}
.project-title {
    font-size: 2.5rem;
    /* margin: 1rem 0 2rem 2em; */
    width: 100%;
    /* text-transform: uppercase; */
    /* color: #4facfe; */
    /* color: #00f2fecc */
    background: -webkit-linear-gradient(.5turn, #00ff66, #00ffff, #6e0dd0, #099fff);
    /* background: -webkit-linear-gradient(1turn, #e6fb04, #ff6600, #ff00ff, #ff0099); */
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1em;
}

.modal-button {
    display: inline-block;
    padding: 1rem 3rem;
    /* margin: 1rem 0 1rem 3em; */
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #fff;
    background-color:  rgb(138, 109, 109);
    /* background-image: linear-gradient(to left,white, rgb(138, 109, 109)); */
    border-radius: .8rem;
    text-decoration: none;
    border-style: none;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    box-shadow: 0 1rem 2rem rgba(138, 109, 109);
    font-family: Libre Caslon Text;
    margin-top: 1em;
}

.modal-button:hover {
    background-image: linear-gradient(to right, white, rgb(138, 109, 109));
    color: rgb(138, 109, 109);
    font-size: 1.5em;
    font-weight: 600;
    padding-right: 2em;
}

.more-info a {
    font-size: 1.5em;
}

.more-info p {
    font-size: 1em;
}

.youtube-player {
    min-width: 35rem;
    max-width: 35rem;
    height: 20em;
    transform: translate(10em);
    /* position: relative; */
    box-shadow: 0 1.4rem 2rem rgba(138, 109, 109);
    border-radius: .8rem;
    overflow: hidden;
    /* margin: 5em; */
    margin: 5em 5em 5em -3em;
}


@media screen and (max-width: 1068px) {
    .player {
        max-width: 80rem;
    }

    .youtube-player {
        min-width: 25rem;
        max-width: 25rem;
    }
}

@media screen and (max-width: 868px) {
    .player {
        /* padding: 2.5rem; */
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .player {
       max-width: 70rem;
    }

    .youtube-player {
        min-width: 50%;
        max-width: 50%;
        /* transform: translate(0, -8rem); */
    }
}

/* -----------------------MODAL------------------- */



.modal-cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    transform: translateZ(0);
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  
  ._modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em;
    line-height: 1;
    background-color: black;
    border: 0;
    box-shadow: 0;
    cursor: pointer;
    outline: 0;
  }
  
  ._modal-close-icon {
    width: 25px;
    height: 25px;
    fill: transparent;
    stroke: whitesmoke;
    stroke-linecap: round;
    stroke-width: 2;
  }
  
  .modal-body {
    padding-top: 0.25em;
  }

  ._hide-visual {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
  }
  
  .scroll-lock {
    overflow: hidden;
    margin-right: 17px;
  }
  
  /* -----------------------END MODAL------------------- */


  .modal-area {
    position: fixed;
    left: 50%;
      top: 50%;
    width: 50%;
    height: 50%;
    padding: 2.5em 1.5em 1.5em 1.5em;
    /* background-color: #dddfd4; */
    background: linear-gradient(0deg, white, rgb(138, 109, 109));
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transform: translate(-50%, -50%);
    /* margin: 0 auto 0; */
    z-index: 1;
  }
  

  
  .modal-area h1 {
    width: 105%;
    font-size: 32px;
  }
  
