@import url('https://fonts.googleapis.com/css?family=Libre+Caslon+Text:400,700&display=swap');

body {
  font-family: Libre Caslon Text;
  /* background-color: #9fa8a3; */
  background-color: #dddfd4;
  /* background-color: #c5d5cb; */
}

.body-text {
  padding-top: 20vh;
  text-align: center;
  position: relative;
}

.footer p {
  font-size: 10px;
}

.footer a {
  color: black;
}

.hamburger-icon {
  position: absolute;
  z-index: 21;
  top: 5vh;
  left: 5vw;
  padding-bottom: 2vh;
}

.hamburger-icon span {
  height: 5px;
  width: 40px;
  background-color: black;
  display: block;
  margin: 5px 0px 5px 0px;
  transition: 0.7s ease-in-out;
  transform: none;
}

#openmenu:checked ~ .menu-pane {
  left: -5vw;
  transform: translateX(-5vw);
  display: block;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(2) {
  transform: translate(0%, 175%) rotate(-45deg);
  background-color: white;

}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(3) {
  transform: rotate(45deg);
  background-color: white;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(1) {
  opacity: 0;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(4) {
  opacity: 0;
}

div.menu-pane {
  background-color: #9fa8a3;
  position: absolute;
  transform: translateX(-105vw);
  transform-origin: (0, 0);
  width: 100vw;
  height: 150%;
  transition: 0.6s ease-in-out;
  display: block;
  z-index: 20;
}

.menu-pane p {
  color: black;
  font-size: 0.6em;
}

.menu-pane nav {
  padding: 10%;
}

.menu-links li, a, span {
  transition: 0.5s ease-in-out;
  list-style-type: none;
}

.menu-pane ul {
  padding: 10%;
  display: inline-block;
}

.menu-pane li {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 10px;
    font-size: 1em;
}


.menu-pane li {
  font-size: 1.3em;
  margin-left: -10px;
}


.menu-links li a {
  color: white;
  text-decoration: none;
}


.menu-links li:hover a {
  color: whitesmoke;
  font-size: 150%;
}

.menu-links li:first-child:hover a {
  /* color: black;   */
  /* background-color: whitesmoke; */
}

#QC-info {
  background-color: whitesmoke;
    border: 2px solid;
  border-color: whitesmoke;
display: block;
  opacity: 0;
  
}

.menu-links li:first-child:hover #QC-info {
opacity: 1;
}

.menu-links li:first-child:hover #DC-info {
opacity: 1;
}

#DC-info {
  /* background-color: whitesmoke; */
  color: whitesmoke;
    /* border: 2px solid; */
  /* border-color: whitesmoke; */
display: block;
  opacity: 0;
}

#DC-info p {
  color: whitesmoke;
}

.menu-links li:first-child a {
  padding: 5px;
}

input.hamburger-checkbox {
  position: absolute;
  z-index: 23;
  top: 5vh;
  left: 5vw;
  width: 10vw;
  opacity: 0;
  height: 6vh;
}

.nav {
  margin-top: 100px;
}

h1 {
  background: black;
  color: whitesmoke;
  font-size: 52px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.body-text h1 {
  position: relative;
  z-index: 40;
  
}

.osha-pic {
  margin-top: -14%;
  margin-left: -12%;
  display: grid;
  place-items: start center;
  /* position: fixed;
  bottom: 0;
  right: 0; */
}

.osha-pic img{
    width: 30%;
    height: auto;
    /* transform: scaleX(-1); */
}

h2 {
  margin-top: -20px;
  margin-bottom: -5px;
}
/* ---------------------END HOME, etc.---------------------- */
/* ---------------------PORTFOLIO---------------------- */

.portfolio {
  /* margin-top: -50px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  /* flex: 1 1 150px;  */
  /*  Stretching: */
  flex: 0 1 150px; /*  No stretching: */

  /* padding: 10px; */
  width: 100%;
  /* margin-top: 2%; */
  margin-bottom: 5%;
  margin-right: 5%;
  /* margin-left: -1%; */
  
}

.player {
  margin-top: 2%;
  margin-right: 2%;
  margin-left: 2%;
  
  width: 30%;
  height: auto;
  background-color: #9fa8a3;
  border-top: 2px solid;
  border-color: black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.player:first-child {
  margin-top: 6%;
}
.player:nth-child(2) {
  margin-top: 6%;
}
/* ---------------------END PORTFOLIO---------------------- */
/* ---------------------ABOUT---------------------- */
.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 0 1 150px;
  width: 100%;
  margin-bottom: 3%;
  margin-right: 5%;
}

.me {
  /* place-content: center; */
  margin-top: 15%;
  margin-left: 30%;
}

.osha-about-pic {
  margin-top: -30%;
  margin-left: 2%;

  /* margin-bottom: 5% */
}

.osha-about-pic img {
  width: 30%;
  height: auto;
}
/* -----------------------Resume------------------- */
.resume {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* flex: 0 1 150px; */
  width: 100%;
  margin-bottom: 5%;
  margin-left: -10%;
  
}

#elfsight {
  margin-top: 6%;
  margin-left: 20%;
  width: 45%;
  height: 50%;
  padding: 18px;
  /* border: 2px solid; */
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  /* z-index: -2; */

}

.jsx-780294638 {
  display: none;
}

/* -----------------------End Resume------------------- */
/* -------------------contact-------------------------- */
.contact-page {
  display: grid;
  place-items: start center;
  
  flex: 0 1 150px;
  width: 100%;
  margin-bottom: 3%;
  margin-right: 5%;

}

.contact-page h1 {
  margin-top: 18%;
  /* margin-left: 30%; */
  margin-right: 30%;
  text-align: right;
  width: 100%;
  justify-self: right;
  background-color: black;
}

.contact-page i {
  color: black;
}

.links {
  margin-top: -17%;
  /* margin-left: -15%; */
  /* float: inherit; */
}

.contact-info {
  /* position: relative; */
  /* margin-top: -5%; */
  margin-left: 1%; 
  /* clear: both; */
}

.contact-info p strong {
  font-size: x-large;
}

#message {
  width: 100%;
  height: 100px;
}

.test-mailing {
  /* margin-top: -%; */
}
/* -------------------END contact-------------------------- */

/* -----------------------MODAL------------------- */

.modal-button {
  background-color: black;
  color: whitesmoke;
  width: 100%;
  font-size: 13px;
  cursor: pointer;
  outline: 0;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.modal-button:hover {
  background-color: #9fa8a3;
  color: black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transition: 0.5s ease-in-out;
  font-size: 14px;
  font-weight: bold;
}

.modal-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transform: translateZ(0);
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2.5em 1.5em 1.5em 1.5em;
  background-color: #9fa8a3;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.modal-area h1 {
  width: 104%;
  font-size: 32px;
}

@media screen and (min-width: 500px) {
  /* Center the Modal! */
  .modal-area {
    left: 50%;
    top: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    max-width: 40em;
    max-height: calc(100% - 1em);
  }
}

._modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  line-height: 1;
  background-color: black;
  border: 0;
  box-shadow: 0;
  cursor: pointer;
  outline: 0;
}

._modal-close-icon {
  width: 25px;
  height: 25px;
  fill: transparent;
  stroke: whitesmoke;
  stroke-linecap: round;
  stroke-width: 2;
}

.modal-body {
  padding-top: 0.25em;
}
._hide-visual {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.scroll-lock {
  overflow: hidden;
  margin-right: 17px;
}

/* -----------------------END MODAL------------------- */


